*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;

}

.DVD{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}


.logo svg{
    width: 400px !important;
    position: absolute;
    background-color: black;
    animation: dvdx 5s linear infinite ,  8s linear infinite  dvdy;
    
}

@keyframes dvdx {
    0%, 100% {
        right: 0;
        fill: yelloW;
    }
    50% {
        right: 80%; 
        fill: blue;
    }
}

@keyframes dvdy {
    0%, 100% {
        top: 0;
        fill: yellow;
    }
    50% {
        top: 80%; 
        fill: blue;
    }
}

 
 /* ????????????????????????????????????????????? */
 /* body {
    height: 100vh;
    overflow: hidden;
}

.DVD{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}

.logo{
    position: absolute;
    padding: 10px 20px;
    background-color: white;
    animation: dvdx 5s linear infinite alternate, dvdy 4s linear infinite alternate;
} 

@keyframes dvdx {
    0%, 100% {
        left: 0;
        fill: green;
    }
    50% {
        left: calc(100% - 60px); 
        fill: yellow;
    }
}

@keyframes dvdy {
    0%, 100% {
        top: 0;
        fill: blue;
    }
    50% {
        top: calc(100% - 40px);  
        fill: red;
     }
}   */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    overflow: hidden;
}

.DVD{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: black;
}


.logo svg {


    width: 400px !important;
    height: 400px;
    animation: dvdxy 8s linear infinite alternate;

}

@keyframes dvdxy {
    0% {
        transform: translate(0, 0);
        fill: yellow ;
    }

    15% {
        transform: translate(531px, 431px);
        fill: blue;

    }

    30% {
        transform: translate(931px, -100px);
        fill: green;
    }

    45% {
        transform: translate(131, 131);
        fill: red;

    }

    60% {
        transform: translate(200px, 431px);
        fill: aqua;

    }

    75% {
        transform: translate(930px, 131px);
        fill: brown;

    }
    100% {
        transform: translate(130px, 531px);
        fill: brown;

    }
} */

/* ???????????????????????????????? */
/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
body {
    width: 100%;
    height: 100vh;
    background-color: #000;
}

svg{
    fill: red;
    width: 100px;
}
marquee {
    height: 100vh;
    
}

marquee svg{
    fill: pink;
}  */


